html {
    --_vaadin-app-layout-navbar-offset-size: 0;
}

body {
    /* background-color: red; */
}
.workhours-view {
    position:relative;
    z-index: 2;
}

[part~="navbar"]{
    background-color: red;
}
#navbarTop * {
    background-color: red;
}
vaadin-grid {
    margin: 20px 5%;
    border-radius: var(--lumo-border-radius-l);
    overflow: hidden;
    box-shadow: var(--lumo-box-shadow-s);
}
vaadin-grid::part(odd-row), vaadin-grid::part(header-cell){
    --vaadin-grid-cell-background: #eee;
}

vaadin-grid::part(selected-row) {
    --vaadin-grid-cell-background: var(--lumo-tertiary-color);
}


.header-mask{
    display: block;

}
.weekly-summary-button {
    margin:0;
    padding:0 10px;
    border-radius: 0 0 100px 100px;
    box-shadow: var(--lumo-box-shadow-s);
    /* transform: translate(0, -50%); */
    background-color: #fff;
    position: relative;
    z-index: 10000;
}

.weekly-summary-button.weekly-summary-closed vaadin-icon {
    transform: rotate(180deg);
}


