#workhours-edit-panel {
    width: initial!important;
    margin: 1vw 5%;
    padding: 30px 30px 15px 30px;
    border-radius: var(--lumo-border-radius-l);
    box-shadow: var(--lumo-box-shadow-s);
}

.form-control-lower-fields {
    --vaadin-input-field-background: #fff;
    --vaadin-input-field-border-width: 1px;
    --vaadin-input-field-border-color: #C5CAD2;
}

.form-control-upper-fields {
    --vaadin-input-field-background: #fff;
    --vaadin-input-field-border-width: 1px;
    --vaadin-input-field-border-color: #C5CAD2; 
    --vaadin-input-field-border-radius: 50px;
    --vaadin-input-field-height: var(--lumo-size-s)
}


.form-control-daily-summary {
    --vaadin-input-field-background: #ff0000; /* WHAT */
    --vaadin-input-field-readonly-border: solid 1px #C5CAD2;
}


